.appbar {
  box-shadow: none;
}

.inner-title-div {
  display: flex;
  align-items: center;
}

.outer-title-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .inner-title-div {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .toolbar {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
  }

  .nav-button {
    margin: 4px 0; /* Space between buttons */
    width: 100%; /* Full width for buttons */
  }

  .theme-selector {
    width: 100%; /* Full width for theme selector */
    margin-bottom: 8px; /* Space below theme selector */
  }
}