.App {
  min-height: 100vh;
}

.appbar {
  box-shadow: none;
}

.blank {
  margin-right: 20px;
}

.component-div {
  padding-bottom: 20px;
}

.edit-buttons {
  display: flex;
  gap: 10px; 
}

.edit-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.inner-title-div {
  display: flex;
  align-items: center;
}

.language-box {
  align-items: center;
  display: flex;
  gap: 2; 
}

.manage-languages-div {
  width: 100%;
  margin: auto;
}

.outer-title-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.snippet-dropdown {
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  width: 20%; 
  font-size: 16px; 
  margin-bottom: 20px; 
  margin-right: 10px;
}

.snippet-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.snippet-list {
  margin-top: 20px;
}

textarea {
  width: 100%; 
  min-height: 200px;
  margin: 20px 0;
  padding: 15px;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical;
  box-sizing: border-box;
  line-height: 1.5;
  white-space: pre;
  overflow: auto;
  display: block;
}

@media (max-width: 600px) {
  .inner-title-div {
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
  }

  .manage-languages-div {
    margin-left: -24%;
    width: 145%;
  }

  .nav-button {
    margin: 4px 0; /* Space between buttons */
    width: 100%; /* Full width for buttons */
  }

  .snippet-form-field {
    width: 120%;
  }

  .snippet-dropdown, .snippet-list {
    width: 140%;
  }

  .theme-selector {
    width: 100%; /* Full width for theme selector */
    margin-top: 180px; /* Space below theme selector */
  }

  .toolbar {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
    justify-content: space-between;
  }

  form, h2, .snippet-dropdown, .view-snippet-label, .snippet-list {
    margin-left: -22%;
  }
}